.main-layout {
  height: 98vh;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 4fr 10fr;
}

.alignment > div {
  /* border: solid red 1px; */
  display: flex;
}

.alignment > div > div {
  /*  border: solid red 1px; */
  display: flex;
}

.full {
  width: 100%;
}

.align-column {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.message {
  margin-top: 10px;
  max-width: 300px;
  min-width: 300px;
}

.messages {
  overflow: auto;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  padding: 1rem;
}

.partner {
  align-self: flex-start;
}

.user {
  align-self: flex-end;
}

.write {
  margin-top: auto;
  padding: 0%;
  display: flex;
  flex-direction: row;
}

.chat {
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-bar {
  margin-bottom: auto;
  justify-content: center;
  margin-top: 10px;
}

.search-bar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-picture {
  margin-top: 10px;
  width: fit-content;
}

.quick-settings {
}
