.member {
  display: grid;
  grid-template-columns: 1fr 5fr;
  max-width: 14rem;
  border-radius: 5px;
  padding: 0.5rem;
}

.invitation {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  min-width: 100%;
  border-radius: 5px;
  padding: 0.6rem;
}
