@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Public Sans", sans-serif;

  --color-green-50: #effdf5;
  --color-green-100: #d9fbe8;
  --color-green-200: #b3f5d1;
  --color-green-300: #75edae;
  --color-green-400: #00dc82;
  --color-green-500: #00c16a;
  --color-green-600: #00a155;
  --color-green-700: #007f45;
  --color-green-800: #016538;
  --color-green-900: #0a5331;
  --color-green-950: #052e16;
}

.dark {
  --ui-primary: #b198eb;
  --ui-neutral: #d8d8e0;

  --ui-bg: #131214;
  --ui-secondary: #a68bd9;
  --ui-success: #4caf50;
  --ui-info: #42a5f5;
  --ui-warning: #ffca28;
  --ui-error: #ef5350;

  /* primary color variations */
  --ui-primary-50: #f0edfd;
  --ui-primary-100: #e2d9fb;
  --ui-primary-200: #c9bbf7;
  --ui-primary-300: #b19cf2;
  --ui-primary-400: #a288ef;
  --ui-primary-500: #b198eb;
  --ui-primary-600: #8c6ed6;
  --ui-primary-700: #7a5fc1;
  --ui-primary-800: #6a50a7;
  --ui-primary-900: #5b448c;
  --ui-primary-950: #3c2e5e;
  /* neutral color variations */
  --ui-neutral-50: #f4f4f7;
  --ui-neutral-100: #ebebee;
  --ui-neutral-200: #d8d8e0;
  --ui-neutral-300: #c8c8d3;
  --ui-neutral-400: #b8b8c6;
  --ui-neutral-500: #a8a8b9;
  --ui-neutral-600: #9090a3;
  --ui-neutral-700: #78788c;
  --ui-neutral-800: #606074;
  --ui-neutral-900: #48485c;
  --ui-neutral-950: #30303e;
}

.light {
  --ui-primary: #9e97e8;
  --ui-neutral: #2e2e2e;

  --ui-bg: #f8f8fc;
  --ui-secondary: #8c7cc3;
  --ui-success: #388e3c;
  --ui-info: #1e88e5;
  --ui-warning: #ffb300;
  --ui-error: #d32f2f;

  /* primary color variations */
  --ui-primary-50: #f0eefd;
  --ui-primary-100: #e2dbfb;
  --ui-primary-200: #c9baf7;
  --ui-primary-300: #b09af2;
  --ui-primary-400: #a288ee;
  --ui-primary-500: #9e97e8;
  --ui-primary-600: #857bd0;
  --ui-primary-700: #7065b8;
  --ui-primary-800: #5d539e;
  --ui-primary-900: #4d4584;
  --ui-primary-950: #342e5a;
  /* neutral color variations */
  --ui-neutral-50: #f2f2f2;
  --ui-neutral-100: #e0e0e0;
  --ui-neutral-200: #b8b8b8;
  --ui-neutral-300: #909090;
  --ui-neutral-400: #686868;
  --ui-neutral-500: #2e2e2e;
  --ui-neutral-600: #292929;
  --ui-neutral-700: #242424;
  --ui-neutral-800: #1f1f1f;
  --ui-neutral-900: #1a1a1a;
  --ui-neutral-950: #151515;
}
