.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avatar-container {
  position: relative;
  display: inline-block;
  user-select: none;
}

.avatar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 50%;
  z-index: 20;
  cursor: pointer;
}

.avatar-container:hover .avatar-overlay {
  opacity: 1;
}

.avatar-container:hover .ava {
  filter: grayscale(40%);
}


footer {
  height: 100%;
}
.profile-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  color: white;
  width: 100%;
  height: 100%;
}

.section-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.field-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-button:hover {
  color: rgba(255, 255, 255, 0.9);
}

.edit-input {
  flex-grow: 1;
  border: none;
  background: transparent;
}
.edit-input:focus {
  background: transparent;
}
.edit-input:hover {
  background: transparent;
}
.edit-input > input,
.edit-input > textarea {
  padding: 0px 0px;
}
.edit-input > input:focus,
.edit-input > textarea:focus {
  background: transparent;
}
.edit-input > input:hover,
.edit-input > textarea:hover {
  background: transparent;
}

.save-button {
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  margin-left: 8px;
}
